h1
{
    text-decoration: underline;
    background-color: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

span
{
    border: solid black 1px;
    padding: 5px;
}


input:hover
{
    padding: 10px;
}

button:hover
{
    background-color: blueviolet;
    color: white;
    padding: 10px;
}